*{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
body{
  background-image: url('https://images.unsplash.com/photo-1600185365926-3a2ce3cdb9eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=725&q=80');
  background-position: center 20;
  background-size: cover;
  background-attachment: fixed;
}
.navbar{
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 1000;
}
.underTheNavbar{
  margin-top: 160px;
}
.cartContainer{
  width: 80%;
  margin: auto;
  height: 400px;
  border-radius: 7px;
}
.counter{
  background-color: #fff;
  border-radius: 7px;
  color: #000;
  text-align: center;
  height: auto;
  font-size: 1.4rem;
  position: fixed;
  right: 5px;
  top: 19px;
  width: 20%;
  height: auto;
  font-weight: bold;
  z-index: 2000;
}
.cartImage{
  margin-right: 30px;
}
.holla{
  border-radius: 7px;
  background-color:#212529;
  color: #fff;
  padding: 20px;
}